#body{
    background-color:#ffffe6;
}

.modal-body{
    color:#990000;
}
.navbar,.modal-header,.modal-footer{
    background-color:#990000;
    border-color:#990000;
}
body {
    margin: 0.5%;
}
#login {

    width: 40%;
    height: 300px;

    margin-top: 5%;
    margin-left: 30%;
 
    background-color: #ffffcc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}




#input
{
    width:60%;

}
#input,label,.error{
margin-left:15%;
}
#submit{
margin-left:25%;
}


#submit
{
    background-color:#990000;
    width:40%;
    margin-top:2%;
}


#a{
    color:white;
}
#a:hover{
    color:#ff9999;
}



.error
{
    margin-right:1%;
    color:red;
    font-size:15px;
}

label
{
    color:#990000;
    
}
